@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.ttf') format('ttf');
  font-weight: 700;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.top_menu
{
    text-align: center;
}

.menu_item
{
    list-style: none;
	display: inline-block;
}

.menu_link
{
    text-decoration: none;
    padding: 0 20px;
    line-height: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #282b30;
    display: inline-block;
}

.top_block_wrapper
{
    background: url('../images/top_block.jpg') center center;
    background-size: cover;
    padding: 175px 0;
    text-align: center;
}

.top_block_title_wrapper
{
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    display: inline-block;
}

.top_block_title
{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 1s forwards; 
}

@keyframes fadeInUp {
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}
.content_wrapper
{
    padding: 60px 20px;
    padding-bottom: 0;
    width: 1000px;
    margin: 0 auto;
}


.content_title
{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #282b30;
    margin: 0 0 40px;
}

.text
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 25px;
    color: #282b30;
    max-width: 560px;
}

.content_list
{
    margin: 0 0 40px;
    padding: 0 0 0 20px;
}

.content_list_item
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #282b30;
    max-width: 380px;
}

.order_button
{
    background: #0fa8ea;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;    
    transition: all .5s ease;
}
.order_button:hover
{
    background: #0B82B6;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;  
    box-shadow: 0 5px 15px #9c9c9c; 
}

.button_light
{
    background: none;
    color: #0fa8ea;
	border: 1px solid #0fa8ea;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
    transition: all .5s ease;
}
.button_light:hover
{
    background: #0fa8ea;
    color: #fff;
	border: 1px solid #0fa8ea;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 5px 15px #9c9c9c; 
}


.order_title
{
    max-width: 340px;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    color: #2b2b2b;
    margin: 0 0 26px;
}

.order_text_wrapper
{
    display: inline-block;
    width: 430px;
    margin-right: 110px;
    vertical-align: middle;
}

.order_picture_wrapper
{
    display: inline-block;
    vertical-align: middle;
}

.form
{
    height: 736px;
    background: #E8E6EB;
    text-align: center;
    margin-top: 159px;
}
.form_title
{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #282b30;
    max-width: 539px;
    margin: auto;
    padding-top: 66px;
    padding-bottom: 38px;
    text-align: left;
}
.form_text
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    color: #282b30;
    max-width: 539px;
    margin: auto;
    text-align: left;
}
.subscribe_form
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    width: 539px;
    margin: auto;
    text-align: left;
    margin-top: 15px;
}
.email_img
{
    position: relative;
    top: -127px;
    left:30px;
}


.form_input
{
    width: 506px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 500;
    height: 61px;
    background: #fff;
	border: 1px solid #0fa8ea;
    border-radius: 31px;
    display: inline-block;
    text-decoration: none;
    transition: all .5s ease;
    margin-top: 19px;
    padding-left:30px;
    cursor: pointer;
}
.form_button
{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 600;
    text-align: center;
    width: 536px;
    height: 61px;
    background: #0fa8ea;
    color: #fff;
    border-radius: 31px;
    display: inline-block;
    text-decoration: none;
    transition: all .5s ease;
    cursor: pointer;

}

.form_button:hover
{
    background: #0B82B6;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;  
    box-shadow: 0 5px 15px #9c9c9c; 
}

.wrapper {
    margin: 30px;
    margin-right: 0px;
    display: inline-block;

}
.checkbox 
{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox+label 
{
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

}
.checkbox+label::before 
{
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    border: 1px solid #676b6e;
    border-radius: 0.15em;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    transition: all .3s ease;
    
}
.checkbox:checked+label::before 
{
    border-color: #4995eb;
    background-color: #4995eb;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    
}
/* стили при наведении курсора на checkbox */
.checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }
  /* стили для активного состояния чекбокса (при нажатии на него) */
  .checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }

  /* стили для чекбокса, находящегося в состоянии disabled */
  .checkbox:disabled+label::before {
    background-color: #e9ecef;
  }
.img_arrow
{
    position: relative;
    bottom: 74px;
}



.bottom_menu
{
    background: #fff;
    text-align: center;
}
.goods_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.goods_block_loaded {
    opacity: 1; 
}

.order_text_wrapper {
    max-width: 430px;
    margin-right: 20px; 
    transform: translateX(-50px); 
    opacity: 0; 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.order_picture_wrapper {
    transform: translateX(50px);
    opacity: 0; 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.goods_block_loaded .order_text_wrapper {
    transform: translateX(0); 
    opacity: 1; 
}

.goods_block_loaded .order_picture_wrapper {
    transform: translateX(0); 
    opacity: 1; 
}
